@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

$poppins: 'Poppins', sans-serif;

$form_bg:#F3F2F2;
$form_shadow:#cccccc;

$header:#483C32;
$error:red;
$correct:green;

$btn:#000000;



$google_bg:#DB4437;
$fb_bg:#3b5998;
$twitter_bg:#1DA1F2;

$socialmedia_colors: ( $fb_bg, $google_bg, $twitter_bg);
    
    
$font-weights: ("regular": 400, "medium": 500, "bold": 600);

